*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-attachment: fixed;
    background-color: pink;
    background-repeat: no-repeat;
    width: 100%;
}

h1{ text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    font-size: 50px;
    font-weight: blod;
    padding-left: 20px;
    padding-top: 50px;
    margin-top: 100px;
    animation: mover 6s linear infinite ;
    animation-duration: 5s;
    text-transform: uppercase;
}
@keyframes mover{
    0%{
        color:red;
        text-shadow: 0 0 50px rgba(0,0,0,0.20);
    }

    50%{
        color:yellow;
        text-shadow: 0 0 10px rgba(255, 187, 0, 100);
        transform: translateX(80px);
    }

    100%{
        color: green;
        text-shadow:0 0 30px rgba(255, 0, 128, 0) ;
    }
}


.menu{
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
}

.menu a{
    text-align: center;
    float:right;
    padding:12px 16px;
    font-size:25px;
}

 .avatar{
    text-align: center;
    width: 40px;
    border-radius:50%;
    vertical-align: middle;
}

.menu ul{
    list-style-type: none;   
}

.menu li{
    margin:5px;   
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: rgb(255, 2, 120);
}


.engine input[type=search]{
    width: 400px;
    height: 40px;
    background:none;
    display: block;
    text-align: center;
    border: 2px solid rgb(255, 0, 98);
    color:blue;
    font-size: 15px;
    font-family: cursive;
    border-radius: 20px;
    margin: 20px auto;
    outline: none;
    transition: 0.25s;
}

form.s button{
    
    width: 10%;
    padding: 10px;
    background:rgba(255, 0, 149, 0.979);
    color:yellow;
    font-size: 17px;
    border: 2px solid rgb(255, 255, 120);
    border-radius: 20px;
    
    cursor: pointer;
    outline: none;

}
.engine input[type=search]:focus {
        width: 800px;
        font-size: 25px;
        border-color:rgb(255, 196, 0) ;
}


.engine input[type=search]:hover{
        background-color:rgba(255, 230, 0, 0.979);}

form.s button:hover{
    background:rgba(230, 0, 120, 0.979); ;
}

form.s ::after{
    content: "";
    clear: both;
    display: table;

}

